.hero {
  display: grid;
  grid-template-columns: 100%;
}

.promo {
  margin: 0 auto;
}

.hero__container {
  grid-column: 1 / 2;
  grid-row: 1 / 2;
}

.hero__content.swiper-slide {
  position: relative;
  display: grid;
  grid-template-columns: 1fr;
  width: 100%;
  height: auto;
}

.hero__image-wrapper {
  grid-column: 1;
  grid-row: 1;

  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: $color-blue-overlay;
    z-index: 1;
  }
}

.hero__image-wrapper img {
  display: block;
}

.hero__wrapper {
  @include wrapper-size;

  padding: 201px 15px 20px;
  grid-column: 1;
  grid-row: 1;
  z-index: 2;

  @include tablet {
    width: $tablet-width;
    padding: 420px 64px 60px 45px;
    align-self: end;
  }

  @include desktop {
    width: $desktop-width;
    padding: 200px 372px 60px 100px;
  }
}

.hero__container-nebo {
  --nb-r: 13px;

  @include tablet {
    --nb-r: 14px;
  }
}

.hero__container-nebo--pagination {
  min-height: 40px;
  background-color: $color-white;
  border-radius: 12px 0 0 0;
  --nb-w: 184px;
  --nb-h: 2px;

  @include tablet {
    border-radius: 18px 0 0 0;
    padding-top: 10px;
    --nb-w: 519px;
    --nb-h: 2px;
    --nb-r: 20px;
  }

  @include desktop {
    --nb-w: 829px;
    --nb-h: 2px;
  }
}

.hero__container-nebo--title {
  background-color: $color-white;
  margin-bottom: -20px;
  --nb-w: 1px;
  --nb-h: 1px;
  --nb-r: 11px;

  @include tablet {
    --nb-w: 15px;
    --nb-h: -26px;
    --nb-r: 26px;
  }

  @include desktop {
    --nb-w: 141px;
    --nb-h: -27px;
  }
}

.hero__title {
  font-size: 22px;
  line-height: 26px;
  padding: 11px 22px 36px 14px;
  margin-top: -3px;

  @include tablet {
    margin-top: -4px;
    margin-bottom: -39px;
    font-size: 36px;
    line-height: 44px;
    padding: 13px 69px 48px 40px;
  }

  @include desktop {
    font-size: 54px;
    line-height: 62px;
    padding: 25px 50px 53px 50px;
  }
}

.hero__container-nebo--text {
  width: 267px;
  background-color: $color-white;
  padding: 0 15px 10px 14px;
  border-radius: 0 0 12px 14px;
  display: flex;
  flex-direction: column;
  --nb-w: 57px;
  --nb-h: 38px;

  @include tablet {
    flex-direction: row;
    padding: 15px 40px 35px 40px;
    border-radius: 0 0 26px 26px;
    width: 594px;
    gap: 30px;
    --nb-w: -57px;
    --nb-h: -38px;
  }

  @include desktop {
    width: 775px;
    padding: 15px 50px 35px 50px;
  }
}

.hero__text-wrapper {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.hero__text-wrapper p {
  margin: 0;

  @include tablet {
    max-width: 285px;
  }

  @include desktop {
    max-width: 446px;
  }
}

.hero__button {
  display: block;
  width: 154px;
  margin-top: 26px;

  @include tablet {
    margin-top: 0;
    width: 198px;
    height: 56px;
  }

  @include desktop {
    align-self: center;
  }
}

.hero__button[disabled] {
  color: $color-disabled;
  pointer-events: none;
  outline: 1px solid $color-disabled;

  &::after {
    background-color: $color-disabled;
  }
}

.hero__pagination {
  position: relative;
  z-index: 10;
}

.hero__pagination-horizontal {
  z-index: 10;
  padding: 5px 210px 17px 16px;
  display: flex;
  flex-wrap: wrap;
  gap: 12px;
  row-gap: 6px;
  align-items: center;

  @include tablet {
    padding: 15px 570px 36px 20px;
  }

  @include desktop {
    padding: 15px 875px 36px 20px;
  }
}

.hero__pagination-bullet {
  padding: 0;
  width: 8px;
  height: 8px;
  background: transparent;
  border: 2px solid $color-primary;
  border-radius: 50%;
  display: inline-block;
  cursor: pointer;

  @include tablet {
    width: 12px;
    height: 12px;
  }
}

.hero__pagination-bullet--active {
  background-color: $color-primary;
}

.hero__pagination-bullet:hover,
.hero__pagination-bullet--active:hover {
  background-color: #d9d9d9;
}

.hero__pagination-bullet:focus {
  outline: 1px solid rgba(255, 255, 255, 0.5);
  outline-offset: 2px;
}

.hero__pagination-bullet--active:focus {
  background-color: transparent;
  outline: 1px solid rgba(255, 255, 255, 0.5);
  outline-offset: 2px;
}

.hero__pagination-bullet:active,
.hero__pagination-bullet--active:active {
  background-color: rgba(255, 255, 255, 0.5);
}

.hero__pagination-bullet:disabled {
  background-color: $color-disabled;
  border: 1px solid $color-disabled;
}
