.news {
  padding-block: 50px;
}

.news__wrapper {
  @include wrapper-size;

  position: relative;
  padding: 24px 15px 0;
  grid-column: 1;
  grid-row: 1;
  z-index: 10;

  @include tablet {
    width: $tablet-width;
    padding: 186px 204px;
  }

  @include desktop {
    width: $desktop-width;
    padding: 296px 40px 292px;
  }
}


.news__title {
  text-align: center;
  margin-block-end: 84px;
}

.news__filter-container {
  position: absolute;
  top: 94px;
  left: 0;
}

.news__filter-list {
  @include reset-list;
  padding-inline-start: 15px;
}

.news__filter-item {
  width: fit-content;
  opacity: 0.6;
}

.news__filter-button::before,
.news__filter-button::after {
  content: none;
}

.news__filter-button {
  padding: 12px 16px;
  outline-color: transparent;
}

.swiper-slide-active .news__filter-button {
  outline-color: $color-primary;
}

.news__filter-item.swiper-slide-active {
  opacity: 1;
}

