// Colors
$color-primary: #316dc2;
$color-white: #ffffff;
$color-beige: #f0efe9;
$color-text: #484848;
$color-dark-overlay: rgba(13, 29, 51, 0.4);
$color-blue-overlay: rgba(49, 109, 194, 0.2);
$color-active: #275699;
$color-disabled: #a9afb7;
$color-error: #ff5e66;

// Typography
$ff-default: "Manrope", "Arial", sans-serif;

// Animation
$trans-default: 0.3s ease-in;

// Viewports
$mobile-width: 320px;
$tablet-width: 768px;
$desktop-width: 1440px;
